---
layout: default
---

<div class="row">
  <p class="title">
    &nbsp;
  </p>
  <div class="title-content">
    &#9679;<time>&#8201;28 November, 2016</time>
    <address>
      Melbourne Meat Market<br>
      5 Blackwood Street, North Melbourne
    </address>
  </div>
</div>

<div class="row">
  <p class="title">
    The conference
  </p>
  <div class="title-content">
    <p>
      CSS Conf is a community conference dedicated to the designers and developers who build the world’s most engaging user interfaces. For the community, from the community.
    </p>
  </div>
</div>

{% include tickets.html %}

<div class="row">
  <p class="title">
    News
  </p>
  <div class="title-content">
    <p>
      {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.github.url }}" class="list">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">&#8201;{{ post.date | date: "%b %d" }}</time>
          <span>{{ post.title }}</span>
        </a>
      {% endfor %}
    </p>
  </div>
</div>

{% include mailing-list.html %}

<div class="row">
  <p class="title">
    Code of conduct
  </p>
  <div class="title-content">
    <p>
      All organisers, sponsors and attendees are required to follow the conference <a target="_blank" href="http://confcodeofconduct.com/">conference code of conduct</a>. We are committed to providing a harassment-free, professional & welcoming environment for all attendees.
    </p>
  </div>
</div>

<div class="row">
  <p class="title">
    Sponsors
  </p>
  <div class="title-content">
    <p>
      <a href="https://envato.com" class="sponsor">
        <img src="./assets/images/sponsor-envato.svg" alt="" />
      </a>
      <a href="https://99designs.com.au" class="sponsor">
        <img src="./assets/images/sponsor-99designs.svg" alt="" />
      </a>
    </p>
    <p>
      We’re looking for more people to help support this event.
      If your organisation could help, please drop an email to <a href="sponsors@cssconf.com.au">sponsors@cssconf.com.au</a> for more details.
    </p>
  </div>
</div>

{% include team.html %}
