<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="source" href="https://github.com/vsconf/css-conf">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://2016.cssconf.com.au/">
  <meta property="og:image" content="http://2016.cssconf.com.au/images/og-logo.png">
  <meta property="og:site_name" content="CSSConf Australia 2016">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.github.url | prepend: site.url }}">
  <link media="all" rel="stylesheet" href="{{ '/assets/css/2016.css' | prepend: site.github.url }}">
</head>
