<div class="header {{ include.classes | '' }}">
  <div class="header-inner">
    <div class="wrapper">
      <!-- <p class="hide-me">View-Source<sup>01</sup></p> -->
      <p class="home-link">
        <a href="{{ '/' | prepend: site.github.url }}">CSSConf<span>&nbsp;</span></a><!-- 30 Nov -->
        <a href="{{ site.jsconf_url }}" class="hide-mobile">JSConf<span> - Yesterday</span></a><!-- 01 Dec -->
        <a href="{{ site.decompress_url }}" class="hide-mobile">Decompress<span> — Today</span></a><!-- 02 Dec -->
      </p>
    </div>
  </div>
</div>
