<div class="row">
  <p class="title">
    Mailing list
  </p>
  <div class="title-content">
    <p>
      For more announcements follow
      <a href="https://twitter.com/cssconfau" target="_blank">@cssconfau</a> or sign up to our mailing list below.
    </p>
    <form action="http://jsconfau.createsend.com/t/j/s/oskty" method="post">
      <input id="fieldEmail" name="cm-oskty-oskty" type="email" required="" placeholder="Your email address">
      <button type="submit">Join &rarr;</button>
    </form>
  </div>
</div>

