<section id="hero">
  <div class="row">
    <p id="schedule" class="title">
      Schedule
    </p>

    <div class="title-content">
      <p>
        <strong>Wednesday November 30</strong>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 08:30+11:00" itemprop="doorTime">08:30</time>
          <span>🎫 Registration</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 09:00+11:00" itemprop="doorTime">09:00</time>
          <span>🍳 Breakfast</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 10:00+11:00" itemprop="doorTime">10:00</time>
          <span>📢 Welcome</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 10:10+11:00" itemprop="doorTime">10:10</time>
          <span>🎤 1: Ally Long&mdash;Human Compatibility Error: How novice tech users in West Africa respond to your fancy CSS</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 10:40+11:00" itemprop="doorTime">10:40</time>
          <span>🎤 2: Ally Palanzi&mdash;Accessibility matters. Let’s do something about it</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 11:10+11:00" itemprop="doorTime">11:10</time>
          <span>☕️ Coffee </span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-11-30 11:40+11:00" itemprop="doorTime">11:40</time>
          <span>🎤 3: Michael Rog&mdash;Getting 'Up To Speed' with Accelerated Mobile Pages</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 12:10+11:00" itemprop="doorTime">12:10</time>
          <span>🎤 4: Josh Johnston&mdash;At Least 6 Ways to Win with CSS Modules</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 12:40+11:00" itemprop="doorTime">12:40</time>
          <span>🍜 Lunch</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 14:10+11:00" itemprop="doorTime">14:10</time>
          <span>🎤 5: Nadieh Bremer&mdash;SVGs beyond mere shapes</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 14:40+11:00" itemprop="doorTime">14:40</time>
          <span>🎤 6: Barak Chamo&mdash;Hey presto, CSS!</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 15:10+11:00" itemprop="doorTime">15:10</time>
          <span>🍰 Sweets</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 15:40+11:00" itemprop="doorTime">15:40</time>
          <span>🎤 7: José M. Pérez&mdash;Progressive image rendering</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 16:10+11:00" itemprop="doorTime">16:10</time>
          <span>🎤 8: Serena Chen&mdash;The Ideal Styling Language: a gedankenexperiment</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 16:40+11:00" itemprop="doorTime">16:40</time>
          <span>🍵 Tea</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 17:10+11:00" itemprop="doorTime">17:10</time>
          <span>🎤 9: Petra Gulicher&mdash;Building a style guide for all Australians</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 17:40+11:00" itemprop="doorTime">17:40</time>
          <span>📸 Family photo and announcements</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-11-30 19:00+11:00" itemprop="doorTime">19:00</time>
          <span>🎉 Party - <a href="https://goo.gl/maps/TTBbPoigNTq" title="The Panama Dining Room on Google" target="venue">The Panama Dining Room</a></span>
        </span>
      </p>
    </div>
  </div>
</section>
