<div class="speaker">
  {% if speaker.interview %}
    <a class="speaker__link" href="interviews/{{speaker.interview}}"></a>
  {% endif %}
  <div class="photo-wrapper">
    <div class="padder"></div>
    <div class="photo" style="background-image: url({{ '/assets/images/' | prepend: site.github.url | append: speaker.photo }});"></div>
    <div class="photo-screen"></div>
  </div>
  <div class="details-wrapper">
    <div class="padder"></div>
    <div class="details">
      <p class="name">{{ speaker.name }}<sup>{{ speaker.country }}</sup></p>
      <p class="bio">{{ speaker.bio }}</p>
      <p class="website">
        <a href="http://twitter.com/{{ speaker.twitter }}">@{{speaker.twitter}}</a>
        <a href="{{ speaker.website }}">(www)</a>
      </p>
    </div>
  </div>
</div>
