<div class="row speakers">
  <div class="title-content">
    <h1>SPEAKERS</h1>
    <div class="speaker-wrapper">
      {% for speaker in site.speakers %}
        {% include speaker.html %}
      {% endfor %}

      <div class="speaker">
        <div class="speaker-gutter">
          <div class="speaker-soon"></div>
          <div class="details">
            <span class="name">More soon...</span>
            <p class="bio">Stay tuned for more speaker announcements in the coming weeks!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
