html {
  background-color: $primary;
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: $primary;
  font-family: 'Maison Neue', sans-serif;
  font-size: 2.4rem;
  line-height: 1.45;
  margin: 0;
  -webkit-text-size-adjust: 85%;
}

h1, h2, h3, h4 {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-indent: 4rem;
}

h1 {
  margin-top: 2.4rem;
  margin-bottom: 5rem;
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

strong {
  font-weight: normal
}

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  transition: color 350ms ease-in-out;
}
a:hover,
button:hover  {
  color: #000;
}
a:focus,
a:active,
button:focus,
button:active {
  color: #00f;
}

img {
  max-width: 100%;
}

time, address {
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 0.9em;
  font-style: normal;
}

sup {
  font-size: 70%;
  margin-left: 0.2rem;
  position: relative;
  top: -0.4rem;
  vertical-align: baseline
}

.faded {
  opacity: 0.25;
}

.hide-me {
  pointer-events: none;
  visibility: hidden;
}

.highlighted:before {
  content: '\2217';
  position: absolute;
  font-size: 150%;
  margin-left: -2.5rem;
  margin-top: -1.1rem;
}

.missed-it {
  text-decoration: line-through;
}

.tickets:after {
  content: '\263A';
  padding-left: 1rem;
  margin-top: 0.25rem;
  position: absolute;
}

@media screen and (max-width: $break-mobile) {
  .hide-mobile.hide-mobile {
    display: none;
  }
}

form {
  box-sizing: border-box;
  display: flex;
  margin: 0 0 2rem;
  width: 75%;
}
@media screen and (max-width: $break-form) {
  form {
    width: 98%;
  }
}

input,
button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  padding: 0.75rem 0;
  transition: color 350ms ease-in-out;
}
input {
  flex: 1;
  margin-right: 2rem;
}
button {
  cursor: pointer;
  white-space: nowrap;
}
input:hover {
  color: #000;
}
input:focus,
input:active {
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
  transition: opacity 350ms ease-in-out;
}
*:focus::-webkit-input-placeholder {
  opacity: 0.4;
}
::-moz-placeholder {
  color: inherit;
}
:-ms-input-placeholder {
  color: inherit;
}


