.home-link {
  display: inline-block;
  a {
    @extend .faded;
    border-bottom: 2px solid transparent;
    color: inherit;
    display: inline-block;
    margin-left: 2rem;
    @media screen and (max-width: 1000px) {
      span { display: none; }
    }
    &:before {
      content: ' / ';
      margin-left: -2rem;
      position: absolute;
    }
    &:first-child {
      margin-left: 0;
      opacity: 1;
    }
    &:first-child:before {
      content: '';
    }
    &:hover {
      border-bottom: 2px solid;
      opacity: 1;
    }
  }
}
.header-ticket-link {
  float: right;
}

.header {
  background: transparent url('../images/CSS-BG.png') 0 82% repeat-x;
  background-position-x: 25%;
  background-size: calc(1480px * 0.7) calc(980px * 0.7);
  box-sizing: border-box;
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 0.9em;
  left: 0;
  padding: 0 0 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  a {
    transition: none;
  }
  p {
    flex: 1;
    margin: 0;
    &:nth-child(1) {
      padding-right: 2rem;
    }
    &:nth-child(2) {
      flex: 2;
    }
    &:nth-child(3) {
      position: absolute;
      right: 2rem;
    }
  }

  .header-inner {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 1.5rem 0;
    transition: color ease-in-out,
                background-color ease-in-out;
    transition-duration: 0ms;
    width: 100%;
  }

  &--fixed .header-inner,
  &--permanent .header-inner {
    background-color: rgba(255, 255, 255, 1);
    color: $primary;
    transition-duration: 650ms;
  }
}

.cfp {
  align-items: center;
  background-color: #ff0;
  border-radius: 50%;
  display: none;
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 80%;
  height: 20rem;
  justify-content: center;
  left: 50%;
  line-height: 1.45;
  margin: 0;
  margin-left: 23rem;
  padding: 1rem;
  position: absolute;
  text-decoration: underline;
  top: 10rem;
  width: 20rem;
  a {
    border: 0;
  }
  @media screen and (max-width: 58.75rem) {
    font-size: 60%;
    margin-left: 0;
    height: 12rem;
    left: auto;
    right: 0;
    top: 6rem;
    width: 12rem;
  }
}

.bg {
  background: transparent url('../images/CSS-BG.png') 0 0 repeat-x;
  // background-blend-mode: screen;
  background-size: calc(148rem * 0.7) calc(98rem * 0.7);
  height: calc(98rem * 0.7);
  image-rendering: pixelated;
  justify-content: space-around;
  text-align: center;
  &--alt {
    background-position: 0 -42rem;
    height: calc(30rem * 0.7);
    margin-bottom: -10rem;
  }
}
.logo {
  left: 50%;
  max-width: 50rem;
  position: fixed;
  top: 13rem;
  transform: translateX(-50%);
  @media screen and (max-width: $break-mobile) {
    max-width: 90%;
  }
  path {
    fill: #fff;
    transition: fill 650ms ease-in-out;
    .logo--bg & {
      fill: mix($primary, #fff, 5%);
    }
  }
}

.logo-inline {
  margin-right: 4rem;
  margin-top: 1rem;
  max-width: 20rem;
  @media screen and (max-width: $break-mobile) {
    margin-top: -4rem;
    margin-bottom: -2rem;
  }
  path {
    fill: $primary;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  text-align: left;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.content-wrapper-alt {
  margin-bottom: -12.5rem;
  margin-top: -2rem;
  position: relative;
  z-index: 1;
  @media screen and (max-width: $break-mobile) {
    margin-top: -4rem;
  }
}

.content-wrapper {
  margin-bottom: -12.5rem;
  margin-top: -12.5rem;
  position: relative;
  z-index: 1;
  @media screen and (max-width: $break-mobile) {
    margin-top: -24.5rem;
  }
}

.row {
  display: flex;
  margin-bottom: 6rem;
  mix-blend-mode: multiply;
  @media screen and (max-width: $break-mobile) {
    display: block;
  }
  &--footer {
    border-top: 2px solid;
    margin-top: 30rem;
    margin-bottom: -12.5rem;
    font-size: 80%;
    padding-bottom: 4rem;
  }
}
.title {
  flex: 1;
  padding-right: 2rem;
}
.title-content {
  flex: 2;
}

.list {
  border-top: 2px solid;
  border-bottom: 0;
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  time:before {
    content: "\25CF";
    margin-right: 0.5rem;
  }
  time {
    display: inline-block;
    margin-top: 0.25rem;
    flex: 0 0 16rem;
  }
}

.sponsor {
  border: 0;
  border-top: 2px solid;
  display: block;
  padding: 1rem 0 1.5rem;
  &:hover {
    color: inherit;
    img {
      opacity: 1;
    }
  }
  &:hover:before {
    content: "\2217";
    font-size: 150%;
    margin-left: -2.5rem;
    margin-top: -0.9rem;
    position: absolute;
  }
  img {
    max-height: 5rem;
    opacity: 0.75;
    max-width: 100%;
    transition: opacity 350ms ease-in-out;
  }
  &--grand img {
    max-height: 12rem;
  }
}

.person {
  display: flex;
  border: 0;
  span {
    padding-right: 1rem;
  }
  .photo img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin-top: 0.75rem;
    max-width: 5rem;
    flex: 0 0 5rem;
  }
}

.speaker {
  border: 0;
  display: flex;
  flex-direction: column;

  .speaker-gutter {
    padding: 0 3rem;
  }

  span {
    display: table;

    &.name {
      display: inline-block;
    }
  }

  &:hover {
    cursor: pointer;
    .photo {
      background-color: $primary;

      img {
        mix-blend-mode: screen;
        -webkit-filter: grayscale(100%);
      }
    }
  }

  .details {
    margin-top: 4rem;
  }

  a {
    display: inline-block;
    line-height: 1.5;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
    }
  }

  .name {
    font-family: $mono;
    font-size: 2.4rem;
    line-height: 1.2;
    padding-bottom: 0.75rem;
    letter-spacing: -.05rem;
    sup {
      font-size: 1.4rem;
      vertical-align: text-top;
    }
  }

  .bio,
  .website,
  .twitters,
  .em {
    font-size: 1.8rem;
    line-height: 1.35;
    margin: 0;
  }

  .bio {
    padding-bottom: 0.5rem;
  }

  .photo {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    transition: background-color 200ms ease-in-out;
    img {
    display: block;
    max-width: 100%;
    // transition: -webkit-filter 300ms ease-in-out;
    }
  }
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $break-form) {
    display: block;
  }
  .person {
    border-top: 2px solid;
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    width: 50%;
    @media screen and (max-width: $break-form) {
      width: auto;
    }
  }
}

.speaker-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -3rem;
  @media screen and (max-width: 480px) {
    display: block;
  }
  .speaker {
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 0.5rem 0;
    width: calc(100% * 1 / 3);
    @media screen and (max-width: $break-form) {
      width: calc(100% * 1 / 2);
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
