.home-link {
  display: inline-block;
  a {
    @extend .faded;
    border-bottom: 2px solid transparent;
    color: inherit;
    display: inline-block;
    margin-left: 2rem;
    @media screen and (max-width: 1000px) {
      span { display: none; }
    }
    &:before {
      content: ' / ';
      margin-left: -2rem;
      position: absolute;
    }
    &:first-child {
      margin-left: 0;
      opacity: 1;
    }
    &:first-child:before {
      content: '';
    }
    &:hover {
      border-bottom: 2px solid;
      opacity: 1;
    }
  }
}
.header-ticket-link {
  float: right;
}

.header {
  box-sizing: border-box;
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 0.9em;
  left: 0;
  padding: 0 0 6rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  a {
    transition: none;
  }
  p {
    flex: 1;
    margin: 0;
    &:nth-child(1) {
      padding-right: 2rem;
    }
    &:nth-child(2) {
      flex: 2;
    }
    &:nth-child(3) {
      position: absolute;
      right: 2rem;
    }
  }

  .header-inner {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    padding: 1.5rem 0;
    transition: color ease-in-out,
                background-color ease-in-out;
    transition-duration: 0ms;
    width: 100%;
  }

  &--fixed .header-inner,
  &--permanent .header-inner {
    background-color: rgba(255, 255, 255, 1);
    color: $primary;
    transition-duration: 650ms;
  }
}

.cfp {
  align-items: center;
  background-color: #ff0;
  border-radius: 50%;
  display: none;
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 80%;
  height: 20rem;
  justify-content: center;
  left: 50%;
  line-height: 1.45;
  margin: 0;
  margin-left: 23rem;
  padding: 1rem;
  position: absolute;
  text-decoration: underline;
  top: 10rem;
  width: 20rem;
  a {
    border: 0;
  }
  @media screen and (max-width: 58.75rem) {
    font-size: 60%;
    margin-left: 0;
    height: 12rem;
    left: auto;
    right: 0;
    top: 6rem;
    width: 12rem;
  }
}

.intro {
  position: relative;
  padding-top: 10rem;

  .logo {
    position: relative;
    width: 43rem;
    margin: 0 auto;
    padding-bottom: 4.5rem;
    z-index: 10;

    @media (max-width: 550px) {
      width: 75vw;
    }

    a {
      border: 0;
    }

    svg {
      path, text {
        fill: $primary;
      }

      &:hover {
        path, text {
          fill: #000;
        }
      }
    }
  }

  .speakers {
    display: flex;
    flex-wrap: wrap;
    width: 100%; //162rem;
    max-width: 180rem;
    text-align: left;
    padding: 0 2.5rem;
    margin: 0 auto;
    margin-bottom: 7rem;
    overflow-x: hidden;
    box-sizing: border-box;

    .speaker {
      position: relative;
      display: flex;
      flex: 0 0 calc(100% / 3);

      &:nth-child(n + 4) {
        left: calc(100% / 6); 
      }

      &:nth-child(n + 7) {
        left: 0;
      }

      &:nth-child(n + 10) {
        left: calc(100% / 6); 
      }

      &:nth-child(6) {
        .details-wrapper {
          position: relative;
          left: calc(100% * -1); 
        }
      }

      &:hover {
        .photo-wrapper {
          z-index: 11;
        }

        .photo-wrapper .photo-screen {
          display: block;
        } 

        .details-wrapper {
          opacity: 1;
        }

        @media (max-width: 1260px) {
          .details-wrapper {
            display: none;
          }
        }
      }

      @media (max-width: 900px) {
        flex: 0 0 calc(100% / 2);

        &:nth-child(n) {
          left: 0;

          .details-wrapper {
            left: 0;
          }
        }

        &:nth-child(3n + 1) {
          left: calc(100% / 4);
        }

        &.empty {
          display: none;
        }
      }

      @media (max-width: 700px) {
        flex: 0 0 calc(100% / 2);

        &:nth-child(n) {
          left: 0;
        }

        &.empty {
          display: block;
        }

        .photo-wrapper {
          flex: 0 0 100%;
        }
      }

      div {
        flex: 0 0 50%;
      }

      .photo-wrapper {
        position: relative;

        .padder {
          margin-top: 100%;  
        }

        .photo {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-position: top center;
          background-size: cover;
          filter: grayscale(1);
        }

        .photo-screen {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($primary, 1);
          mix-blend-mode: screen;
        }
      }

      .details-wrapper {
        position: relative;
        background-color: #FFF;
        opacity: 0;
        z-index: 10;

        .padder {
          margin-top: 100%;  
        }

        .details {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          font-size: 1.4rem;
          line-height: 1.6rem;
          padding: 1rem;
          box-sizing: border-box;
          overflow: hidden;

          @media (max-width: 1400px) {
            font-size: 1.2rem;
            line-height: 1.4rem;

            p {
              margin: 0.5rem 0;
            }

            .name {
              font-size: 1.4rem;
            }
          }

          p {
            margin: 0.7rem 0;
          }

          .name {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .camo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;

    svg {
      width: 100%;
      height: 100%;

      circle {
        fill: #000;
      }
    }
  }
}

.wrapper {
  max-width: 120rem;
  text-align: left;
  padding:  0 2.5rem;
  margin: 0 auto;
}

.content-wrapper-alt {
  margin-bottom: -12.5rem;
  margin-top: -2rem;
  position: relative;
  z-index: 1;
  @media screen and (max-width: $break-mobile) {
    margin-top: -4rem;
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
  margin-bottom: 6rem;
  mix-blend-mode: multiply;
  @media screen and (max-width: $break-mobile) {
    display: block;
  }
  &--footer {
    border-top: 2px solid;
    margin-top: 30rem;
    margin-bottom: -12.5rem;
    font-size: 80%;
    padding-bottom: 4rem;
  }
}
.title {
  flex: 1;
  padding-right: 2rem;
}
.title-content {
  flex: 2;
}

a.list {
  border-color: black;
}
.list {
  border-top: 2px solid;
  border-bottom: 0;
  display: flex;
  margin: 0;
  padding: 0.5rem 0;
  time:before {
    content: "\25CF";
    margin-right: 0.5rem;
  }
  &--simple time:before {
    display: none;
  }
  time {
    color: black;
    display: inline-block;
    margin-top: 0.25rem;
    flex: 0 0 16rem;
  }
}

.sponsor-diversity {
  display: inline-block;
  margin-right: 2rem;
  border: none;
  
  @media screen and (max-width: $break-form) {
    display: block;
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  img {
    max-height: 4rem;
  }
}

.sponsor {
  border: 0;
  border-top: 2px solid black;
  display: block;
  padding: 1rem 0 1.5rem;
  &:hover {
    color: inherit;
    img {
      opacity: 1;
    }
  }
  &:hover:before {
    content: "\2217";
    font-size: 150%;
    margin-left: -2.5rem;
    margin-top: -0.9rem;
    position: absolute;
  }
  img {
    max-height: 5rem;
    opacity: 0.75;
    max-width: 100%;
    transition: opacity 350ms ease-in-out;
  }
  &--grand img {
    max-height: 12rem;
  }
}

.person {
  display: flex;
  border: 0;
  span {
    padding-right: 1rem;
  }
  .photo img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin-top: 0.5rem;
    max-width: 5rem;
    flex: 0 0 5rem;
  }
  .name {
    color: black;
  }
}


.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $break-form) {
    display: block;
  }
  .person {
    border-top: 2px solid black;
    box-sizing: border-box;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding-right: 4rem;
    padding-top: 1rem;
    width: 50%;
    @media screen and (max-width: $break-form) {
      width: auto;
    }
  }
}

.speaker-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -3rem;
  @media screen and (max-width: 480px) {
    display: block;
  }
  .speaker {
    box-sizing: border-box;
    margin-bottom: 4rem;
    padding: 0.5rem 0;
    width: calc(100% * 1 / 4);
    @media screen and (max-width: $break-form) {
      width: calc(100% * 1 / 2);
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
