.row-article {
  border-bottom: 2px solid;
  padding-bottom: 8rem;
}

.meta {
  display: block;
  margin-top: 5rem;
}

.person {
  display: flex;
  border: 0;
  .photo img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin-right: 1rem;
    margin-top: 0.5rem;
    max-width: 5rem;
    flex: 0 0 5rem;
  }
}
