@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/Maison-Neue-Book.eot');
  src: url('../fonts/Maison-Neue-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Maison-Neue-Book.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Maison Neue Mono';
  src: url('../fonts/Maison-Neue-Mono.eot');
  src: url('../fonts/Maison-Neue-Mono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Maison-Neue-Mono.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #FC4D1E;
  font-family: 'Maison Neue', sans-serif;
  font-size: 2.4rem;
  line-height: 1.35;
  margin: 0;
}

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  transition: color 350ms ease-in-out;
}
a:hover,
button:hover  {
  color: #000;
}
a:focus,
a:active,
button:focus,
button:active {
  color: #00f;
}

time, address {
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 0.9em;
  font-style: normal;
}

sup {
  font-size: 70%;
  margin-left: 0.2rem;
  position: relative;
  top: -0.4rem;
  vertical-align: baseline
}

.faded {
  opacity: 0.35;
}

.hide-me {
  pointer-events: none;
  visibility: hidden;
}

form {
  display: flex;
  margin: 0;
  width: 75%;
}

input,
button {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid;
  box-shadow: none;
  color: #000;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  padding: 0.75rem 0;
  transition: color 350ms ease-in-out;
}
input {
  flex: 1;
  margin-right: 2rem;
}
button {
  color: inherit;
  cursor: pointer;
}
input:hover {
  color: inherit;
}
input:focus,
input:active {
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
  transition: opacity 350ms ease-in-out;
}
*:focus::-webkit-input-placeholder {
  opacity: 0.4;
}
::-moz-placeholder {
  color: inherit;
}
:-ms-input-placeholder {
  color: inherit;
}


.header {
  background: transparent url('../images/CSS-BG.png') 0 82% repeat-x;
  background-size: calc(1480px * 0.7) calc(980px * 0.7);
  box-sizing: border-box;
  font-family: 'Maison Neue Mono', sans-serif;
  font-size: 0.9em;
  left: 0;
  padding: 0 0 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header a {
  transition: none;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}
.header .header-inner {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  padding: 1.5rem 0;
  transition: color 450ms ease-in-out,
              background-color 450ms ease-in-out;
  width: 100%;
}
.header--fixed .header-inner {
  background-color: rgba(255, 255, 255, 1);
  color: #FC4D1E;
}

.header p {
  flex: 1;
  margin: 0;
}
.header p:nth-child(1) {
  padding-right: 2rem;
}
.header p:nth-child(2) {
  flex: 2;
}
.header p:nth-child(3) {
  position: absolute;
  right: 2rem;
}





.bg {
  background: url('../images/CSS-BG.png') 0 0 repeat-x;
  background-size: calc(1480px * 0.7) calc(980px * 0.7);
  height: calc(980px * 0.7);
  image-rendering: pixelated;
  justify-content: space-around;
  text-align: center;
}
.logo {
  max-width: 50rem;
  mix-blend-mode: luminosity;
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}




.wrapper {
  margin: 0 auto;
  max-width: 120rem;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content-wrapper {
  top: -15.5rem;
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
  margin-bottom: 4rem;
  mix-blend-mode: multiply;
}
.title {
  flex: 1;
  padding-right: 2rem;
}
.title-content {
  flex: 2;
}

.article-link {
  border-top: 2px solid;
  border-bottom: 0;
  display: block;
  /* margin-left: -19rem; */
  padding: 0.5rem 0;
}
.article-link:before {
  content: "\25CF";
}
.article-link time {
  display: inline-block;
  width: 18rem;
}
