<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
  {% include header.html %}
  <div class="intro">
    <div class="logo">
      <a href="{{ '/' | prepend: site.github.url }}">
        {% include logo.svg %}
      </a>
    </div>
    {% include speakers.html %}
    <div class="camo">
      {% include camo.svg %}
    </div>
  </div>
  <div class="wrapper content-wrapper">
    {{ content }}

    {% include footer.html %}
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ '/assets/js/2016.js' | prepend: site.github.url }}" type="text/javascript" charset="utf-8"></script>
</html>
